<h1>Welcome back</h1>
<h3><%= link_to 'Create a new board', new_board_path %></h3>
<br>
<p1>Current Boards</p1>
<ul>
  <% @boards.each do |board| %>
    <li>
     <%= link_to board.name, board %>
    </li>
  <% end %>
</ul>